
   @font-face{
    font-family:Simpsonfont;
    src:url(Simpsonfont.otf);
}

@font-face {
  font-family: Simpsonfont;
  src:url(Simpsonfont.otf);
  font-weight: bold;
}
  
  /* Style the body */
  body {
    font-family: Simpsonfont;
    margin: 0;
  }
  div {
    font-family: Simpsonfont;
  }

  