<div class="container" style="margin-left:500px">
    <div class="row">
      <div class="col-sm-4">
        <h1>El Rey de la Cerveza</h1>
        <h5>Por que duff es el rey de la cerveza</h5>
        <div class="fakeimg"><img src="/assets/img/oip.png" alt="Logo"  style="width:300px; border-width:3px;border-style:solid;border-color:#96846c;border-radius: 44px;"></div>
        <p>El bajista de los Guns N’ Roses, Duff McKagan, era conocido como «El Rey de la Cerveza» («The King of Beers»), mote que ganó gracias a su compulsiva y excesiva costumbre de consumir cerveza.</p>

                <hr>
                <h1>Lo que piensan nuestros <br> clientes</h1>
                <div class="fakeimg"><img src="https://seeklogo.com/images/D/duff-brasil-logo-9E9A8650BA-seeklogo.com.png" alt="Logo"  style="width:300px; border-width:3px;border-style:solid;border-color:#96846c;border-radius: 44px;"></div>
                <p>por que prefieren duff</p>


                <hr>
                <h5>Homero</h5>
                <div class="fakeimg"><img src="http://gcdn.emol.cl/series-de-tv/files/2015/07/homero-filosofo-3.jpg" alt="Logo"  style="width:300px; border-width:3px;border-style:solid;border-color:#96846c;border-radius:44px"></div>
                <p>mmmmmmmmmmm.... cerveza ahghghghg</p>


                
                <h5>Matt</h5>
                <div class="fakeimg"><img src="https://th.bing.com/th/id/OIP.d5Etu3IwepjL2AJcxA3X7wHaKa?pid=Api&rs=1" alt="Logo"  style="width:300px; border-width:3px;border-style:solid;border-color:#96846c;border-radius: 44px;"></div>
                <p>al demonio con la cerveza</p>


                <h5>Barny</h5>
                <div class="fakeimg"><img src="https://topicimages.mrowl.com/large/owl/thesimpsons/characters/barneygumble_1.jpg" alt="Logo"  style="width:300px; border-width:3px;border-style:solid;border-color:#96846c;border-radius: 44px;"></div>
                <p>Hasta la ultima gota</p>

          
